#main {
    border: 2px double grey;
    color: #343a40;
}

.nav-link {
    color: lightgray;
}

.nav-link:hover {
    background-color: black;
    color: white;
}

.jumbotron-fluid {
    display: flex;
    align-items: center;
}

.carousel-img {
    width: 750px;
    max-height: 400px;
}

#parking-charges, #registration {
    background-color: #e9ecef;
}